.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  width: 150px;
}

.box {
  padding: 20px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
}

#box1,
#box4,
#box7 {
  border-left-style: none;
}

#box1,
#box2,
#box3 {
  border-top-style: none;
}

#box6,
#box9,
#box3 {
  border-right-style: none;
}

#box7,
#box8,
#box9 {
  border-bottom-style: none;
}
